@charset "utf-8";
::-webkit-scrollbar {display: none;}
@font-face {
  font-family: 'OldSong';
  src: url('font/OldSong.ttf') format('truetype'),
       url('font/OldSong.woff') format('woff'),
       url('font/OldSong.otf') format('opentype');
}

html {
  color: #000;
  background: rgb(241, 240, 231);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl; 
	-ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
@media only screen and (max-width: 768px) {

  html {

    font-size: 12px;

  }

}

body {
    
  margin: 0;
  padding:0;
}

#content {

  margin: 8vh;
  padding-right:6vh;
 	overflow: none;
 	overflow-y: scroll;
}



h1 {
  font: 400 3.6rem/1.2 'OldSong', serif;
  letter-spacing: 0.6rem;
	color:#333;
  padding-left: 4vh;
}
h2 {
  font: 400 2.8rem/1.2 'Huiwen-mincho', serif;
  letter-spacing: 0.6rem;
	color:#333;
}

h4 {
  font: 400 2.4rem/1.2 'Huiwen-mincho', serif;
  letter-spacing: 0.6rem;
	color:#333;
  padding-left: 4vh;
}
a {
  text-decoration: none;
  color:#000;
}
a:hover {
  text-decoration: none;
  color:#333;
}

p {
  font: 400 1.8rem/2 'Huiwen-mincho', serif;
  letter-spacing: 0.2rem;
  padding-right: 6vh;
}

intro {
	text-decoration: underline; 
  text-underline-offset: 0.2rem;
	font: 400 1.4rem/2 'Huiwen-mincho', serif;
  padding-left: 9vh;
}

hr {
    text-align: center;
    border-width: 2px;


}
.name {
}
.inde {	
  float:left;
	height: 100%;
	width: 6rem;
  display:flex;
  justify-content: start;
  gap:1rem;
  align-items:center;
  padding-left: 0rem;
  padding-right: 4rem;
}
.bt {

}
.author {
	font: 600 1.2rem/1 'Huiwen-mincho', serif;
  padding-left: 4px;
}
.qu {
  font: 400 1rem/1 'Huiwen-mincho', serif;
}
#po {
	font: 600 1.6rem/1 'Huiwen-mincho', serif;
}
#line {
	width: 1px;
    height: 100%;
    border-right: 1px solid #000000;
    }
#line2 {
	width: 50%;
  height: 1px;
  border-bottom: 1px solid #000000;
	
}

.side {

display:flex;
  justify-content: space-between;
  align-items:center;
  padding:1rem;
	z-index: 1000;
	width: 4.2rem;
	border-left: 2px dashed rgb(0, 0, 0);
	background-color: rgba(241, 240, 231, 1);
	color: rgba(0, 0, 0, 0.3);
	font: 400 1.2rem/2 'Huiwen-mincho', serif;
	letter-spacing: 0.8ch;
  text-align: center;
  }
.side a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
  }

  .side a:hover {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
  }
 
  .side .top {
	text-align: left;
	height: 240px;
	float: left;
  }
  .side .bottom {
  color: rgba(0, 0, 0, 1);
	font: 800 1.2rem/2 'Huiwen-mincho', serif;
  }
.print {
  
    border: 2.6px solid rgba(224, 63, 63, 0.92);
  border-radius: 8px;
padding:1px;
  
    letter-spacing: 0ch;
  
}
.side .bottom a {
  color: rgba(255, 0, 0, 1);
	font: 800 1.4rem/1 'Huiwen-mincho', serif;
  }
  

